
{% extends 'base.html.twig' %}

{% block titre %} Modification d'une catégorie {% endblock %}

{% block body %}


    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">

                        <div class="page-header card">

                            <div class="card-block " >
                                <h5 class="m-b-10">Gestion des catégories
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    &emsp;&emsp;&emsp;&emsp;</h5>
                                <ul class="breadcrumb-title b-t-default p-t-10">
                                    <li class="breadcrumb-item">
                                        <a href="accuil"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="gestion_stock">Gestion des catégories</a>
                                    <li class="breadcrumb-item"><a href="#!">Modification d'une catégorie</a>
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="card" ></br>
                            {{ form (form) }}
                        </div>

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div></div>
{% endblock %}
