{% extends 'base.html.twig' %}
{% block titre %} Gestion des livraisons {% endblock %}

{% block body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <h3>gestion des livraisons </h3>

                        <div class="page-header card">
                            <div class="card-block">
                                <h5 class="m-b-10">modifier livraison

                        {{ form(form) }} <!--- Attention: le nom du formulaire sans apostrophes !! -->


                    </div></div></div></div></div>
{% endblock %}