
{% extends 'base.html.twig' %}

{% block titre %} Ajouter un produit {% endblock %}

{% block body %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">

                    <div class="page-header card">

                        <div class="card-block " >
                            <h5 class="m-b-10">Gestion des stocks
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                &emsp;&emsp;&emsp;&emsp;</h5>
                            <ul class="breadcrumb-title b-t-default p-t-10">
                                <li class="breadcrumb-item">
                                    <a href="accuil"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item"><a href="gestion_stock">Gestion des stocks</a>
                                <li class="breadcrumb-item"><a href="#!">Ajout d'un produit</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="card" ></br>
                     <h5 style="color: red">  {{ form_errors(form) }}</h5>
                        <form name="gproduitbundle_produit" method="post" enctype="multipart/form-data">
<label for="gproduitbundle_produit_image" class="required">Image</label>
  <div class="input-group">
  <input class="form-control" type="file" id="gproduitbundle_produit_image" name="gproduitbundle_produit[image]" required="required">
      <span class="md-line"></span>
  </div>

 <label for="gproduitbundle_produit_nom" class="required">Nom</label>
    <div class="input-group">
 <input class="form-control" type="text" id="gproduitbundle_produit_nom" name="gproduitbundle_produit[nom]" required="required">

        <span class="md-line"></span>
    </div>

 <label for="gproduitbundle_produit_description" class="required">Description</label>
 <div class="input-group">
     <input class="form-control" type="text" id="gproduitbundle_produit_description" name="gproduitbundle_produit[description]" required="required">
     <span class="md-line"></span>
 </div>

  <label for="gproduitbundle_produit_categorie" class="required">Categorie</label>
 <div class="input-group">
     {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
     <span class="md-line"></span>
 </div>

<label for="gproduitbundle_produit_marque" class="required">Marque</label>
     <div class="input-group">
  <select class="form-control" id="gproduitbundle_produit_marque" name="gproduitbundle_produit[marque]">
  <option value="Atala">Atala</option>
   <option value="Atom Bicycles">Atom Bicycles</option>
      <option value="BH Bikes">BH Bikes</option>
      <option value="Bianchi ">Bianchi </option>
      <option value="Bike by Me ">Bike by Me</option>
      <option value="BMC">BMC</option>
      <option value="BTwin">BTwin</option>
      <option value="Cannondale Bicycles">Cannondale Bicycles</option>
      <option value="Canyon">Canyon </option>
      <option value="Giant ">Giant </option>
      <option value="Kestrel">Kestrel</option>
  </select>
         <span class="md-line"></span>
     </div>

<label for="gproduitbundle_produit_reference" class="required">Reference</label>

  <div class="input-group">
     <input class="form-control" type="text" id="gproduitbundle_produit_reference" name="gproduitbundle_produit[reference]" required="required">
  </div>

<label for="gproduitbundle_produit_prix" class="required">Prix</label>
  <div class="input-group">
      <input class="form-control" type="text" id="gproduitbundle_produit_prix" name="gproduitbundle_produit[prix]" required="required">
      <span class="md-line"></span>
  </div>
                            <input hidden="hidden" type="number" value="{{ app.user.id }}" id="gproduitbundle_produit_partenaire" name="gproduitbundle_produit[partenaire]" required="required">

     <label for="gproduitbundle_produit_quantite" class="required">Quantite</label>
   <div  class="input-group">
       <input class="form-control" type="number" id="gproduitbundle_produit_quantite" name="gproduitbundle_produit[quantite]" required="required">
   </div>


    <div>
        <button type="submit" id="gproduitbundle_produit_Valider" name="gproduitbundle_produit[Valider]" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Ajouter</button></div>
                            <input type="hidden" id="gproduitbundle_produit__token" name="gproduitbundle_produit[_token]" value="u_F2rTZo0vke90AdG2E4XsrydR1n_DBgJ95rAA0Q1kA"></form>
   <span class="md-line"></span>
</div>

                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div></div>
{% endblock %}
