<div class="sorting">
    <select>
        <option value="1">Default sorting</option>
        <option value="1">Default sorting</option>
        <option value="1">Default sorting</option>
    </select>
</div>
<div class="sorting mr-auto">
    <select>
        <option value="1">Show 12</option>
        <option value="1">Show 12</option>
        <option value="1">Show 12</option>
    </select>
</div>
<div>
    <div class="input-group filter-bar-search">
        <div>
            <input type="text" placeholder="Chercher" id="recherche">
            <div class="nom" id="nom"></div>
        </div>

    </div>
</div>