{% extends "front_base.html.twig" %}

{% block title %}GProduitBundle:Produit:rechercher_produit{% endblock %}

{% block body %}
    <h1>Vous éte dans Produit:rechercher_produit page</h1>
{% endblock %}
